#home {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.slide__container {
  flex: 1;
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.slide {
  height: 100%;
  min-width: 100%;
}

.slide__img {
  padding: 1rem;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  object-fit: cover;
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide__byline {
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--light-grey);
  font-style: italic;
}

@media (max-width: 768px) {
  #home {
    justify-content: unset;
  }

  .slide {
    flex: 1;
    max-width: 70rem;
    margin: auto;
  }

  .slide__img {
    border-radius: 25px;
    align-items: center;
  }
}
