#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav__image {
  max-width: 275px;
  padding: 0.5rem;
  cursor: pointer;
}

.nav__menu {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  transform: translateY(-7px);
  z-index: 1;
}

.nav__link {
  font-size: var(--font-size-sm);
  color: var(--light-grey);
}

.nav__link:hover {
  color: var(--light-gold);
}

.hamburger {
  display: none;
  cursor: pointer;
  transform: translateY(-7px);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 10px;
  background-color: var(--light-grey);
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .nav__menu {
    position: absolute;
    justify-content: center;
    left: -100%;
    padding: 2rem;
    top: 21%;
    --webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .nav__menu.active {
    left: 0;
    width: 100%;
    background-color: black;
  }

  .nav__link {
    color: white;
  }

  .hamburger {
    display: block;
    padding: 1rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
}
