#news {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.instagram {
  flex: 1;
  min-height: 100%;
  max-width: 100%;
  margin: 1rem 0 1rem 0;
  border: none;
}

.feed-powered-by-es,
.es-poweredby {
  display: none !important;
}
